
body {
  background-color:rgb(32,38,50);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

p{
    color: white;
}


.containerAd{
   align-items: center;
    height: 300px;
    width: 600px;
    background-color: rgb(49,58,73);
    color:white;
}

.Advice-details{
    padding: 20px;
    text-align: center;
}

#Advice-number{
   color: rgb(74,210,146); 
   margin-bottom: 50px;
}

.Adbice-line{
    padding: 20px;
}

.next-Advice{
    height: 50px;
    width:50px;
    align-items: center;
    position: absolute;
    background-color: rgb(74,210,146);
    border-radius: 100%;
    top: 495px;
    bottom: 0;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media (min-width: 374px) and (max-width: 480px){

    .containerAd{
    align-items: center;
    height: 280px;
    width: 370px;
    background-color: rgb(49,58,73);
    color:white;
    }

    .next-Advice{
        height: 50px;
        width:50px;
        align-items: center;
        position: absolute;
        background-color: rgb(74,210,146);
        border-radius: 100%;
        top: 438px;
        bottom: 0;
    }
    
}