
body {
  background-color:rgb(32,38,50);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

p{
    color: white;
}

.containerAd{
   align-items: center;
    height: 300px;
    width: 600px;
    background-color: rgb(49,58,73);
    color:white;
}

.Advice-details{
    padding: 20px;
    text-align: center;
}

#Advice-number{
   color: rgb(74,210,146); 
   margin-bottom: 65px;
}

.Adbice-line{
    padding: 20px;
}

.next-Advice{
    height: 50px;
    width:50px;
    align-items: center;
    position: absolute;
    background-color: rgb(74,210,146);
    border-radius: 100%;
    top: 495px;
    bottom: 0;
}

.next-Advice:hover{

    background-color:rgb(137, 234, 189) ;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 12px;
}

#Advice{
    margin-bottom: 40px;
}

@media (max-width: 320px){


    .containerAd{
        align-items: center;
        height: 280px;
        width: 310px;
        background-color: rgb(49,58,73);
        color:white;

    }

     
    .next-Advice{
        height: 40px;
        width:40px;
        align-items: center;
        position: absolute;
        background-color: rgb(74,210,146);
        border-radius: 100%;
        top: 400px;
        bottom: 0;
    }
    
    .containerAd .divider img{
        display: none;
    }
}

@media (max-width: 426px) {

    .containerAd{
    align-items: center;
    height: 280px;
    width: 370px;
    background-color: rgb(49,58,73);
    color:white;
    }

    .next-Advice{
        height: 50px;
        width:50px;
        align-items: center;
        position: absolute;
        background-color: rgb(74,210,146);
        border-radius: 100%;
        top: 438px;
        bottom: 0;
    }
    
    .containerAd .divider img{
        display: none;
    }
}

@media (max-width: 374px){

    .containerAd{
    align-items: center;
    height: 280px;
    width: 370px;
    background-color: rgb(49,58,73);
    color:white;
    }

    .next-Advice{
        height: 50px;
        width:50px;
        align-items: center;
        position: absolute;
        background-color: rgb(74,210,146);
        border-radius: 100%;
        top: 438px;
        bottom: 0;
    }
    
    .containerAd .divider img{
        display: none;
    }
}

@media (max-width: 480px){

    .containerAd{
    align-items: center;
    height: 280px;
    width: 370px;
    background-color: rgb(49,58,73);
    color:white;
    }

    .next-Advice{
        height: 50px;
        width:50px;
        align-items: center;
        position: absolute;
        background-color: rgb(74,210,146);
        border-radius: 100%;
        top: 438px;
        bottom: 0;
    }
    
    .containerAd .divider img{
        display: none;
    }
}

@media (max-width: 769px){

    .containerAd{
    align-items: center;
    height: 280px;
    width: 500px;
    background-color: rgb(49,58,73);
    color:white;
    }

    .next-Advice{
        height: 50px;
        width:50px;
        align-items: center;
        position: absolute;
        background-color: rgb(74,210,146);
        border-radius: 100%;
        top: 438px;
        bottom: 0;
    }
    
    .containerAd .divider img{
        display: none;
    }
}

@media (max-width: 1025px){

       .next-Advice{
        height: 50px;
        width:50px;
        align-items: center;
        position: absolute;
        background-color: rgb(74,210,146);
        border-radius: 100%;
        top: 438px;
        bottom: 0;
    }
    
    .containerAd .divider img{
        display: none;
    }
}

@media (max-width: 4000px){

    .next-Advice{
     height: 50px;
     width:50px;
     align-items: center;
     position: absolute;
     background-color: rgb(74,210,146);
     border-radius: 100%;
     top: 810px;
     bottom: 0;
 }
 
 .containerAd .divider img{
     display: none;
 }
}